*{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #333;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

.turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    text-decoration: underline solid rgb(234, 105, 131);
}

.turn-container .turn-box{
    border: 3px solid rgb(230, 0, 255);
    font-size: 1.6rem;
    font-weight: 700;
}

.turn-container .turn-box:nth-child(even){
    border-right: none;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #df184a;
    z-index: -1;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 3px solid rgb(0, 0, 0);
}

.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 3px solid rgb(0, 0, 0);
}

.box:hover{
    background-color: #5e0481;
}

#play-again{
    background-color: #ff2e63;
    padding: 10px 25px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;   
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#play-again:hover{
    background-color: #2ca4bf;
    padding: 10px 40px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;   
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}